* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(0, 79%, 78%);
  --color-secondary: hsl(0, 14%, 55%);
  --color-base: hsl(0, 14%, 88%);
  --color-terrain: hsl(0, 14%, 92%);
  --color-sim: hsl(180, 51%, 54%);
}

body {
  width: 100%;
  min-height: 100dvh;
  background: var(--color-base);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  flex: 1;
}

canvas#simulationCanvas {
  width: 100%;
  height: 100dvh;
  background: var(--color-terrain);
  outline: 1px solid var(--color-secondary);
}

aside {
  width: 256px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 1px;
  gap: 20px;
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

button {
  min-width: 96px;
  height: 44px;
  padding: 4px 8px;
  border-radius: 4px;
  outline: none;
}

.simulation-controls {
  padding: 10px;
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  flex-wrap: wrap;
}

.simulation-controls button {
  padding: 8px 15px;
  cursor: pointer;
}

.speed-control {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

#pauseBtn.clicked {
  background: rgba(255, 0, 0, .3);
}

#speedSlider {
  width: 150px;
}

section.information {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  padding: 10px;
  font-size: 18px;
}