* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: hsl(0, 79%, 78%);
  --color-secondary: hsl(0, 14%, 55%);
  --color-base: hsl(0, 14%, 88%);
  --color-terrain: hsl(0, 14%, 92%);
  --color-sim: hsl(180, 51%, 54%);
}

body {
  width: 100%;
  min-height: 100dvh;
  background: var(--color-base);
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas#game {
  width: 512px;
  height: 512px;
  background: var(--color-terrain);
  border: 1px solid var(--color-secondary);
}

.button-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  margin-bottom: 16px;
}

button {
  min-width: 96px;
  height: 44px;
  padding: 4px 8px;
  border-radius: 4px;
  outline: none;
}